body {
  background-color: #d3d3d3;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Times New Roman";
}

h1, h3 {
  color: black;
  text-align: center;
}

.header-section {
  background-color: white;
  background-image: url('../media/header.jpg');
}

.nav-container {
  overflow: hidden;
  color: black;
}

.nav-list {
  position: relative;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list ul li {
  display: block;
  position: relative;
}

.nav-list ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px, 20px;
}

.nav-list ul li a:hover {
  color: black;
  background-color: white;
}

